body {
    font-family: "Montserrat", sans-serif;
}
/*header styling*/
.inline-block {
    display: inline-block;
    vertical-align: center;
    justify-content: center;
    align-content: center;
    padding: 12px;
    margin: auto;
}

.heroImg. {
    display: flex;
    justify-content: center;
    text-align: center;
}

.mySkills {
    text-align: center;
  }
  .flexContainer {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: row;
      background-color: beige;
      height: 300px;
      width: 1200px;
      padding: 10px;
      margin: auto;
      }
  #child1 {
      flex-grow: 1;
      background-color: blanchedalmond;
      height: 260px;
      width: 33%;
      padding: 10px;
      margin: 10px;
  }
  #child2 { 
    flex-grow: 1;
      background-color: blanchedalmond;
      height: 260px;
      width: 33%;
      padding: 10px;
      margin: 10px;
  }
  #child3 {
    flex-grow: 1;
      background-color: blanchedalmond;
      height: 260px;
      width: 33%;
      padding: 10px;
      margin: 10px;
  }
  .myWork {
      text-align: center;
  }
  .workGrid {
      display: grid;
      height: 800px;
      width: 1200px;
      margin:auto;
      justify-content: space-evenly;
      align-content: space-evenly;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
      "topImg MindEase MindEase"
      "middleImg USDAbox USDAbox"
      "bottomImg CUSP CUSP"
      ;
  }
  .topImg {
    grid-area: topImg;
    background-color: white;
}
img.mindpic {
    width: 350px;
    height: auto;
}
  .MindEase {
      grid-area: MindEase;
      background-color: blanchedalmond;
  }
  .middleImg {
    grid-area: middleImg;
    background-color:white;
}
img.USDApic {
    width: 300px;
    height: auto;
}
  .USDAbox {
      grid-area: USDAbox;
      background-color: blanchedalmond;
  }
  .bottomImg {
      grid-area: bottomImg;
  }
  img.cuspypic {
      width: 350px;
      height: auto;
  }
  .CUSP {
      grid-area: CUSP;
      background-color: blanchedalmond;
  }
  /*footer styling*/
  p {
    display: flex;
    justify-content: center;
  }
  
  @media only screen and (max-width:600){
      .flexContainer {
              display: flex;
              align-content: center;
              justify-content: center;
              flex-direction: column;
              background-color: beige;
              margin: auto;
              width: auto;
       }
       #child1 {
        display: flex;  
        flex-grow: 1;
          background-color: blanchedalmond;
          height: 260px;
          width: 100%;
          padding: 10px;
          margin: 10px;
       }
      #child2 {
        display: flex;
          flex-grow: 1;
          background-color: blanchedalmond;
          height: 260px;
          width: 100%;
          padding: 10px;
          margin: 10px;
      }
      #child3 {
        display: flex;   
        flex-grow: 1;
          background-color: blanchedalmond;
          height: 260px;
          width: 100%;
          padding: 10px;
          margin: 10px;
      }
  }
  #workGrid {
      display: grid;
      height: 368px;
      width: 552px;
      margin:auto;
      justify-content: space-evenly;
      align-content: space-evenly;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
      "topImg" 
      "MindEase" 
      "MindEase"
      "middleImg" 
      "USDAbox" 
      "USDAbox"
      "bottomImg" 
      "CUSP" 
      "CUSP"
      ;
  }
  }